<!DOCTYPE html>
<html ng-app="myApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="js/main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</head>
<body>
<div class ="container">
<div class ="header"><h1>{{ name }}</h1></div>
<div align="center" class="jumbotron" ng-controller="MessageController">
<input type="text" ng-model="message.text" id="message"></input>
<button class="btn btn-sm  btn-primary" ng-click="sendMessage()">Send Message </button>
<br><br>
<button class="btn btn-sm btn-success" ng-click="getGeo()"> Get Location </button>
<button class="btn btn-sm btn-primary" ng-click="sendGeo()">Send Location </button>
<p id="geo" ng-model="geo">
<h4>{{geo.lat}}, {{geo.lng}}</h4>
<img src={{geo.img_url}} />
<br>
</p>
<br>
<h3> Your message: {{message.text}} </h3>
<div >
	<p class="alert alert-info" role="alert" id="incoming_messages"></p>
</div>
</div>
</div>
</body>
</html>
